.App {
  height: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}

html {
  background-color: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
